@{
    ViewData["Title"] = "Home Page";
   
}
<div class="d-flex justify-content-center align-items-center vh-100 text-center">
    <div>
        <h2>
            Welcome to my ASP.NET Core MVC project! <br />
            This is an employee management system that I practice on, feel free to explore!
        </h2>
    </div>
</div>

