@model Employee
@{
    ViewData["Title"] = "New Employee";
    Layout = "_AdvancedLayout";

	SelectList departmentsoptions = new SelectList(ViewBag.Departments, "Id", "Name");
}



<form method="post" asp-action="SaveNew" asp-controller="Employee">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form form-control"/>
		<span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Salary"></label>
        <input asp-for="Salary" class="form form-control" />
		<span asp-validation-for="Salary" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form form-control" />
		<span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="ImageUrl"></label>
        <input asp-for="ImageUrl" class="form form-control" />
		<span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="JobTitle"></label>
        <input asp-for="JobTitle" class="form form-control" />
		<span asp-validation-for="JobTitle" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="DepartmentId"></label>
        <select asp-for="DepartmentId" asp-items="departmentsoptions" class="form form-control">
			<option value="0">-- Select Department --</option>
        </select>
		<span asp-validation-for="DepartmentId" class="text-danger"></span>
    </div>
    <div class="mt-3">
        <input type="submit" value="Create" class="btn btn-success" />
        <a asp-action="Index" asp-controller="Employee" class="btn btn-secondary">Go Back</a>
    </div>
</form>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
